<div>
  <h1 x-large class="sample-content">Your Content Here</h1>
  <agm-map [latitude]="lat" [longitude]="lng" style="height: 600px">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.position.lat" [longitude]="marker.position.lng" [markerClickable]="marker.clickable">
      <agm-info-window>
        <div style="color: rgb(60, 255, 0)">stuff</div>
        <img src="http://via.placeholder.com/100x100" alt="event-img" width="100px">
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div style="height: 800px; width: 400px">
    <button mat-fab (click)="goToPrevSlide()">
      P
    </button>
    <swiper #swiper [config]="config">
      <div *ngFor="let item of items">
        <mat-card style="margin: 10px;">
          <mat-card-title-group>
            <mat-card-title>Title1</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-title-group>
          <!-- <img matCardImage src="http://via.placeholder.com/350x150"> -->
          <mat-card-content>
            Text content
          </mat-card-content>
          <mat-card-actions align="start">
            <button mat-button>Action1</button>
            <button mat-button>Action2</button>
          </mat-card-actions>
          <mat-card-footer>
            Footer
          </mat-card-footer>
        </mat-card>
      </div>
    </swiper>
  </div>
</div>
