/*styles for home content only*/

.sample-content {
    color: green;
}

#{"/deep/"} #auto-height-gallery .swiper-container .swiper-wrapper {
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}

// #{"/deep/"} #auto-height-gallery .swiper-container {
//     transition-duration: 300ms;
//     -webkit-transition-property: width;
//     transition-property: width;
//     -o-transition-property: width;
//     transition-property: width;
//     transition-property: width;
// }
